# GENERAL PARAMETERS
NTHREADS=1

#BWA-MEM PARAMETERS
ONT_FLAG=ont2d 		#-x
MIN_SEED_LENGTH=19	#-k
BANDWIDTH=60		#-w
Z_DROPOFF=100		#-d
SEED_SPLIT_RATIO=10	#-r
MAX_OCCURRENCE=10000	#-c
GAP_OPEN_PENALTY=1	#-O
GAP_EXTENSION_PENALTY=1	#-E
MATCHING_SCORE=1	#-A
MISMATCH_PENALTY=1	#-B
CLIPPING_PENALTY=0	#-L
UNPAIR_PENALTY=9	#-U

#BASECALLER BENCHMARK PARAMETERS: CLUSTER
REPEATS_MIN=4   # which numbers of repeats to assess
REPEATS_MAX=15
REPEATS_UNITS='c("A", "C", "T", "G")' # Which units of repeats to assess
REPEATS_NBASES="100" # How many bases to assess in pilup files
CLUSTER_NCORES=100


#MINIMAP/MINIASM PARAMETERS
MINI_PRESET=ava10k

#PATHS TO BINARIES
SAMTOOLS=samtools
BEDTOOLS=bedtools
JELLYFISH=jellyfish
MINIMAP=minimap
MINIASM=miniasm
BWA=bwa
QUAST=quast
